* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  background-color: #222;
  color: #fff;
  padding: 1px;
  text-align: left ;
  padding-left: 12px;
}
main {
  max-width: 400px;
  margin: 30px auto;
  background-color: #fff;
  align-items: left;
  padding: 20px;
  border-radius: 6px;
}
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
input {
  flex: 2;
  padding: 5px;
}
button {
  padding: 8px 14px;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px solid #fffcfc;
}
.delete-btn {
  margin-left: auto;
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
