.card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.card > img {
  width: 100%;
  height: 200px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.tel {
  margin: 5px;
  padding: 5px 10px;
  background: #0088cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.whatsapp {
  margin: 5px;
  padding: 5px 10px;
  background: #00cc1b;
  color: white;
  border: none;
  border-radius: 5px;
}